@import "tailwindcss";



/* .custom-pagination .swiper-pagination-bullet {
  background-color: #000000;
  opacity: 1;
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  transition: all 0.3s;
  margin-top: 10px;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: #951f3c;
  transform: scale(1.2);
} */
